<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      .banner {
        display: block;
        text-align: center;
        width: 100%;
        background-color: #1c7cff;
        height: 80px;
      }
    </style>
  </head>
  <body>
    <div class="banner">
      <p style="margin: auto; color: white; font-size: 20px">
        Veuillez confirmer votre compte :
      </p>
    </div>
    <p>Pour activer votre compte, veuillez cliquer sur le bouton :</p>
    <a href="<%= activeLink %>"><button>Activer</button></a>
  </body>
</html>
